*.pyc
/*.deb
/*.etcd/
/*.json
/*.md
/*.out
/*.sh
/.cache/
/.clang-format
/.dockerignore
/.github/
/.gitignore
/.gitmodules
/.ipynb_checkpoints/
/.mypy_cache/
/.venv/
/.venv_ccf_sandbox/
/.venv_ccf_sandbox/
/.vscode/
/3rdparty/
/Dockerfile.*
/LICENSE
/Makefile
/analysis_files
/bench/
/bench-results/
/benchmark/
/bin/
/build/
/bencher/target/
/certs-config/
/certs/
/docs
/node_modules/
/patches
/plots/
/scripts/
/scripts/env/
/workspace/
requirements.txt
*.zip
*.bak
