*.deb
*.pyc
.git
.venv_ccf_sandbox/
.vscode/
/*.md
/*.out
/.cache/
/.github/
/.ipynb_checkpoints/
/.mypy_cache/
/.venv/
/.venv_ccf_sandbox/
/3rdparty/
/Dockerfile.*
/bench/
/benchmark/
/build/
/certs-config/
/certs/
/docs
/patches
/plots/
/scripts/
/scripts/env/
bin/
default.etcd/
node_modules/
workspace/