build/**
*.deb
/.venv_ccf_sandbox/
workspace/
/.cache/
.venv_ccf_sandbox/

/scripts/env/
node_modules/
bin/
.vscode/

/bench/
/*.etcd/

/.venv/
/certs/

/.ipynb_checkpoints/
/plots/

*.pyc

*.out
*.err

*_pb2.py
*_pb2.pyi

/docker-workspace/
