[submodule "3rdparty/etcd"]
	path = 3rdparty/etcd
	url = https://github.com/etcd-io/etcd.git
[submodule "3rdparty/go-ycsb"]
	path = 3rdparty/go-ycsb
	url = https://github.com/pingcap/go-ycsb.git
[submodule "3rdparty/k6"]
	path = 3rdparty/k6
	url = https://github.com/grafana/k6.git
[submodule "3rdparty/googleapis"]
	path = 3rdparty/googleapis
	url = https://github.com/googleapis/googleapis
