name: "Publish release"

on:
  push:
    tags:
      - "v[0-9]+.[0-9]+.[0-9]+*"

env:
  DOCKER_BUILDKIT: 1 # https://docs.docker.com/develop/develop-images/build_enhancements/

jobs:
  publish:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Build containers
        run: | 
          docker build -t lskv:${{ github.ref }}-virtual -f Dockerfile.virtual .
          docker build -t lskv:${{ github.ref }}-sgx -f Dockerfile.sgx .
      
      - name: Copy files out of images
        run: |
          docker create --name lskv-virtual lskv:${{ github.ref }}-virtual
          docker cp lskv-virtual:/app/liblskv.virtual.so liblskv.virtual.so
          docker rm lskv-virtual

          docker create --name lskv-sgx lskv:${{ github.ref }}-sgx
          docker cp lskv-sgx:/app/liblskv.enclave.so.signed liblskv.enclave.so.signed
          docker rm lskv-sgx
      
      - name: Publish ${{ github.ref }} release
        uses: softprops/action-gh-release@v1
        with:
          name: ${{ github.ref }}
          tag_name: ${{ github.ref }}
          files: |
            liblskv.virtual.so
            liblskv.enclave.so.signed      
