name: "Publish latest"

on:
  push:
    branches: [main]

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}

env:
  DOCKER_BUILDKIT: 1 # https://docs.docker.com/develop/develop-images/build_enhancements/

jobs:
  publish:
    runs-on: ubuntu-20.04

    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 0

      - name: Build containers
        run: | 
          docker build -t lskv:latest-virtual -f Dockerfile.virtual .
          docker build -t lskv:latest-sgx -f Dockerfile.sgx .

      - name: Copy files out of images
        run: |
          docker create --name lskv-virtual lskv:latest-virtual
          docker cp lskv-virtual:/app/liblskv.virtual.so liblskv.virtual.so
          docker rm lskv-virtual

          docker create --name lskv-sgx lskv:latest-sgx
          docker cp lskv-sgx:/app/liblskv.enclave.so.signed liblskv.enclave.so.signed
          docker rm lskv-sgx

      - name: Tag latest-main
        run: |
          git tag latest-main
          git push --force origin latest-main

      - name: Publish latest release
        uses: softprops/action-gh-release@v1
        with:
          name: Latest main
          tag_name: latest-main
          prerelease: true
          files: |
            liblskv.virtual.so
            liblskv.enclave.so.signed
